@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


nav{
  font-family: "Inter", sans-serif;
  background-image:linear-gradient(#007bff,#007bff);
  box-shadow: 1px -1px black;
  
}

.navbar-text{
  margin-right: 10px;

}
.login,.home{
  font-size: 1.6rem;
  margin-right: 3px;

}

.imga{
  
  width:70px;
  margin-right: 5px;
}
